# Directories
node_modules
test

# Files
package-lock.json
seeds.js

# images
*.png
*.jpg
*.jpeg
*.jfif

# for seeds images
!?.png
!?.jpg

# retain default images
!default.jpg

# API keys and secrets
.env

